:root {
  --clr-primary-400: #00a1ab;
  --clr-primary-500: #3741a0;

  --clr-accent-400: #00cdac;
  --clr-accent-500: #114243;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #fafafa;
  --clr-neutral-300: #e5e3e8;
  --clr-neutral-400: #4e4e4e;
}

/* ///////////////
  Reset
  ////////////// */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* ///////////////
  General styling
  ////////////// */

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

section {
  padding: 3rem 0;
}

.section-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  color: var(--clr-primary-400);
}

.fs-500 {
  font-size: 1.3125rem;
  margin: 0 0 0.125rem;
}

.container {
  padding: 3em;
  margin: 0 auto;
  max-width: 1000px;
  background: var(--clr-neutral-200);
}

.bg-light {
  --bg: var(--clr-neutral-400);
  --fg: var(--clr-neutral-100);
  --clr-txt: var(--clr-primary-400);
  --radius-left: 1em;

  color: var(--clr-neutral-400);
  background: linear-gradient(-45deg, var(--clr-neutral-300), var(--clr-neutral-200));
}

.bg-accent {
  --bg: var(--clr-neutral-100);
  --fg: var(--clr-neutral-400);
  --padding-accent: 3.5rem;
  --radius-left: 1em;
  --radius-right: 1em;

  color: var(--clr-neutral-100);
  background: linear-gradient(-45deg, var(--clr-primary-400), var(--clr-primary-500));
  padding: 3.3rem 2rem;
}

.bg-dark {
  --radius-right: 1em;

  color: white;
  background: var(--clr-neutral-400);
}

/* ///////////////
  Buttons
  ////////////// */

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
  background: var(--bg, var(--clr-primary-400));
  color: var(--fg, var(--clr-neutral-100));
  margin: 0.125rem 0;
}

.button--light {
  background: white;
  color: var(--clr-neutral-400);
}

.button--dark {
  color: white;
  background: var(--clr-neutral-400);
}

/* ///////////////
  Plans
  ////////////// */

.plans {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.plan {
  width: 16.5rem;
  padding: var(--padding-accent, 2em) 2em;
  margin: auto 0em;
  /* As 4 linhas abaixo equivalem ao border-radius que as segue */
  /* border-top-left-radius: var(--radius-left, 0);
  border-bottom-left-radius: var(--radius-left, 0);
  border-top-right-radius: var(--radius-right, 0);
  border-bottom-right-radius: var(--radius-right, 0); */
  border-radius: var(--radius-left, 0) var(--radius-right, 0) var(--radius-right, 0)
    var(--radius-left, 0);
}

.plan__title {
  text-transform: uppercase;
  margin: 0 0 1em;
}

.plan__price {
  color: var(--clr-txt);
  /* color: var(--txt-clr, var(--clr-neutral-100)); */
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  margin: 0;
}

.plan__price span {
  display: block;
  font-size: 1.5625rem;
  font-weight: 300;
}

.plan__description {
  margin: 2em 0;
  line-height: 1.5;
}

/* ///////////////
  Teams
  ////////////// */

.team-members {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  text-align: left;
  flex: 1 1 45%;
  margin: 1em;
  display: flex;
  border-radius: 0.5em;
  align-items: center;
  padding: 0.5em 2em 0.5em 0.5em;
  line-height: 1.6;
}

.team-member img {
  width: 10rem;
  border-radius: 0.25em;
  margin-right: 1rem;
}

.team-member .name {
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
  color: var(--clr-txt, var(--clr-neutral-100));
}

.team-member .position {
  font-size: 0.875rem;
  line-height: 1;
  margin-bottom: 0.75rem;
  opacity: 0.8;
  font-weight: 700;
}

.team-member--mirrored {
  padding: 0.5em 0.5em 0.5em 2em;
  flex-direction: row-reverse;
  text-align: right;
}

.team-member--mirrored img {
  margin-left: 1rem;
  margin-right: 0;
}

/* Ao inves de team-member--mirrored, poderia ter usado um team-member-left e um team-member-right.
Assim, o padding do team-member ficaria em left e right, as alteracoes em img seriam feitas usando left e right,
o text-align ficaria só em right, etc.
A vantagem desse metodo é que ignora a order of appearance e também diminui a quantidade de propriedades
sobrescritas. */
